:host {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(45deg,#F17C58,#E94584,#24AADB,#27DBB1,#FFDC18,#FF3706);
}

app-header {
    max-height: 80px;
    margin-bottom: 10px;
    flex-grow: 1;
}

app-footer {
    max-height: 80px;
    margin-bottom: 10px;
    flex-grow: 1;
}

.container{
    flex-grow: 9;
    display: flex;
    justify-content: center;
    align-items: center;
}
