img {
    object-fit: cover;
    object-position: top center;
    border-radius:50%;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-width: thin;
    border-color: blue;
    padding: 1px;
    background-color: white;
  }