<div class="login">
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login__form">
        <span *ngIf="loginFailed">Invalid Credentials</span>
  
        <h1 class="login__title">Login</h1>

        <div class="login__inputs">
        <div class="login__box">
            <input formControlName="userName" placeholder="User Name" required class="login__input">
            <i class="ri-mail-fill"></i>
        </div>

        <div class="login__box">
            <input formControlName="password" type="password" placeholder="Password" required class="login__input">
            <i class="ri-lock-2-fill"></i>
        </div>
        </div>

        <button type="submit" class="login__button">Login</button>

        <div class="login__register">
        Don't have an account? <a [routerLink]="['/register']">Register</a>
        </div>
    </form>
</div>